---
import Marquee from "../components/Marquee.jsx";
---

<section aria-label="about" id="about" class="w-full h-screen flex flex-col">
  <div>
    <Marquee word="ABOUT" reverse={true} />
  </div>
  <div class="content-center">about</div>
</section>
