---
import { getCollection } from "astro:content";
import JobDescription from "../components/JobDescription.tsx";
import Marquee from "../components/Marquee.jsx";

interface Job {
  id: string;
  body: string;
  data: {
    img: string;
    startDate: Date;
    finishDate: Date | null; // Permitir null
    position: string;
    title: string;
    technologies: string[];
  };
}

const jobsRaw = await getCollection("jobs");

const jobs: Job[] = jobsRaw.map((job) => ({
  id: String(job.id), // Ensure it's a string
  body: job.body,
  data: {
    img: job.data.img,
    startDate: job.data.startDate,
    finishDate: job.data.finishDate,
    position: job.data.position,
    title: job.data.title,
    technologies: job.data.technologies,
  },
}));
---

<section
  aria-label="experience"
  id="experience"
  class="w-full h-screen flex flex-col min-h-screen"
>
  <div>
    <Marquee word="EXPERIENCE" reverse={false} />
  </div>
  <div
    class="max-w-[85rem] w-full h-full mx-auto px-4 justify-between content-center"
  >
    <JobDescription jobs={jobs} client:load />
  </div>
</section>
