---

---

<header class="fixed top-0 left-0 right-0 w-full z-50 py-3 text-sm">
  <nav
    class="max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between"
  >
    <div
      id="hs-navbar-example"
      class="hidden hs-collapse overflow-hidden transition-all duration-300 basis-full grow sm:block"
      aria-labelledby="hs-navbar-example-collapse"
    >
      <div
        class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5"
      >
        <a
          class="font-medium text-orange-500 focus:outline-none hover:animate-pulsing"
          href="#home"
          aria-current="page">Home /</a
        >
        <a
          class="font-medium text-gray-600 hover:text-gray-400 focus:outline-none focus:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500 hover:animate-pulsing"
          href="#experience">Experience /</a
        >
        <a
          class="font-medium text-gray-600 hover:text-gray-400 focus:outline-none focus:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500 hover:animate-pulsing"
          href="#about">About /</a
        >
        <a
          class="font-medium text-gray-600 hover:text-gray-400 focus:outline-none focus:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500 hover:animate-pulsing"
          href="#contact">Contact</a
        >
      </div>
    </div>
  </nav>
</header>
