---
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const jobs = await getCollection("jobs");

  return jobs.map((job) => ({
    params: { id: job.slug },
    props: { job },
  }));
}

const { job } = Astro.props;
const { data, slug } = job;
const { title, startDate, finishDate, img, technologies } = data;

const { Content } = await render(job);
---

<div class="flex gap-12">
  <aside>
    <img transition:name=`img-${slug}` src={`/assets/images/${img}`} alt="" />
  </aside>
  <main>
    <h1 transition:name=`title-${slug}`>{title}</h1>
    <div class="prose prose-invert">
      <Content />
    </div>
  </main>
</div>
